<div id="remaining-info">
  <p><strong>First brewed: </strong>{{this.first_brewed}}</p>
  <p><strong>Yeast: </strong>{{this.ingredients.yeast}}</p>
  <p><strong>pH: </strong>{{this.ph}}</p>
  <p><strong>Volume: </strong>{{this.volume.value}} {{this.volume.unit}}</p>
  <p><strong>Boil volume: </strong>{{this.boil_volume.value}} {{this.boil_volume.unit}}</p>
  <p><strong>Contributed by: </strong>{{this.contributed_by}}</p>
</div>